<div class="modal-adult">
  <span class="modal-adult__title">Контент категории 18+.<br>Для просмотра введите PIN.</span>
  <input type="password" max=4 class="modal-adult__input" [class.modal-adult__input_notvalid]="notvalid" [(ngModel)]="pin">
  <span class="modal-adult__error" *ngIf="notvalid">Неверный pin</span>
  <div class="modal-adult__buttons">
    <div class="modal-adult__buttons-item" (click)="checkPin()">OK</div>
    <div class="modal-adult__buttons-item" (click)="closeModal()">Закрыть</div>
  </div>
</div>
