.modal-adult {
  width: 30rem;
  padding: 1.5rem 0;
  height: 20rem;
  background-color: color($colors, text);
  position: absolute;
  left: calc(50% - 15rem);
  top: calc(50% - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__input {
      background-color: color($colors, item-background);
      color: color($colors, text);
      font-size: 1.5rem;
      border: 1px solid transparent;
      text-align: center;
      width: 15rem;
      letter-spacing: 1.5rem;
      height: 3rem;

      &_notvalid {
        border: 1px solid color($colors, danger);
      }
  }

  &__error {
    color: color($colors, danger);
    display: block;
    width: 15rem;
    text-align: left;
    font-size: 1rem;
  }

  &__buttons {
    display: flex;
    width: 80%;
    margin-top: 1.5rem;
    justify-content: space-between;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      height: 3rem;
      border: 1px solid color($colors, hover);
    }
  }
}
