<ion-item class="tvshow-item" (click)="showTvshow()" [class.currentItem]="isCurrentTvshow">
    <span class="tvshow-item__time">{{ convertToTime() }} </span> 
    <span class="tvshow-item__title">{{ tvshow.title }}</span>
    <ion-icon *ngIf="isLogin && (isFavorite | async)" name="bookmark" class="tvshow-item__bookmark" (click)="removeFavorite($event)"></ion-icon>
    <ion-icon *ngIf="isArchive" name="folder" class="tvshow-item__archive"></ion-icon>
    <div class="progress" *ngIf="isCurrentTvshow">
        <progress-line [progress]="progress"></progress-line>
    </div>
</ion-item> 