.progress {
    width: 100%;
    height: .3rem;
    position: absolute;
    bottom: 0;
    left: 0;

    &__line {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: color($colors, hover);
    }
}
.tvshow-item{
    position: relative;
    font-size: 14px;
    padding: 0 12px;
    border-bottom: 1px solid #7E7E7E !important;

    ion-label{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 35px;
    }

    &__time{
        width: 6rem;
        padding-right: 10px;
    }

    &__title{
        width: calc(100% - 6rem);
        white-space: nowrap;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2rem;
    }
    
    &__bookmark{
        position: absolute;
        right: 40px;
        top: 15px;
        color: color($colors, text);

        &_active {
            color: color($colors, hover);
        }
    }

    &__archive{
        position: absolute;
        right: 12px;
        top: 15px;
    }
}
.currentItem{
    font-weight: 600;
    position: relative;
    background-color: #7E7E7E;
    color: #000;
}