video-card {
    .video-card {
        background-color: color($colors, item-background);
        width: 100%;
        
        &__image {
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;
            display: block;
            &:after{
                content: '';
                display: block;
                padding-bottom: 136.430769%;
            }

            img{
                width: 100%;
                display: inline-block;
                vertical-align: top;
            }
            
        }

        &__info {
            height: 5rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding-left: 1rem;
            padding-right: 1rem;
            color: color($colors, text);

            &-name {
                font-weight: 600;
                font-size: 1.4rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }

            &-genres {
                font-size: 1.1rem;
                color: color($colors, text-muted);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }

        &_tv{
            .video-card__image{
                &:after{
                    padding-bottom: 56.61538%;
                }
            }
        }
    }

}
