<div class="video-card" [class.video-card_tv]="isTvshow" (click)="showInfoPage()" (press)="showModal()">
    <div class="video-card__image"
        [class.video-card__image_tv]="isTvshow" [style.backgroundImage]="'url('+videoInformation.cover+')'"

    >
      <!-- <img *ngIf="videoInformation.cover" [src]="videoInformation.cover"> -->
      <!-- <img *ngIf="!videoInformation.cover" src="../../assets/noimg.png"> -->
      <ion-icon *ngIf="isLogin && (isFavorite | async)" name="bookmark" class="bookmark" (click)="removeFavorite($event)"></ion-icon>
    </div>
    <div class="video-card__info">
        <span class="video-card__info-name">{{ videoInformation.name }}</span>
        <span class="video-card__info-genres">
            <span class="video-card__info-genres-item" *ngFor="let genre of videoGenres; let i = index">{{ genre }}{{ i == videoGenres.length -1 ? '' : ',' }} </span>
        </span>
    </div>
</div>
