<ion-header>
    <simple-header></simple-header>
</ion-header>

<ion-content padding>

    <div class="login-buttons">
        <button
            ion-button
            outline
            color="item-background"
            class="login-buttons__item login-buttons__item_left"
            [class.login-buttons__item_active]="isLoginState"
            (click)="isLoginState = true; clearAll()">
                Авторизация
        </button>

        <button
            ion-button
            outline
            color="item-background"
            class="login-buttons__item login-buttons__item_right"
            [class.login-buttons__item_active]="!isLoginState"
            (click)="isLoginState = false; clearAll()">
                Регистрация
        </button>

    </div>

    <div class="input-block" *ngIf="isLoginState">
        <ion-label class="label">Email:</ion-label>
        <ion-input class="input" type="email" (ionBlur)="checkEmail()" [class.input_notvalid]="!isEmailValid || !isEmailExist" (ionFocus)="isEmailValid = true" [(ngModel)]="email"></ion-input>
        <span class="alert" [hidden]="isEmailValid">Ошибка при вводе Email</span>
        <span class="alert" [hidden]="isEmailExist">Пользователь с таким email не зарегистрирован</span>
    </div>

    <div class="input-block" *ngIf="!isLoginState">
        <ion-label class="label">Email:</ion-label>
        <ion-input class="input" type="email" (ionBlur)="checkExistEmail()" [class.input_notvalid]="isNewEmailExist || !isEmailValid" [(ngModel)]="email"></ion-input>
        <span class="alert" [hidden]="isEmailValid">Ошибка при вводе Email</span>
        <span class="alert" [hidden]="!isNewEmailExist">Пользователь с таким email уже зарегистрирован</span>
    </div>

    <div class="input-block">
        <ion-label class="label">Пароль:</ion-label>
        <ion-input class="input" type="password" [(ngModel)]="password" (ionBlur)="checkPassword()" [class.input_notvalid]="!isPassValid || isPassFieldEmpty" (ionFocus)="isPassFieldEmpty = false; isPassValid= true"></ion-input>
        <!-- <ion-icon class="icon" name="eye"></ion-icon> -->
        <span class="alert" [hidden]="isPassValid">Ошибка при вводе пароля</span>
        <span class="alert" [hidden]="isPassLengthValid">Пароль должен быть не менее 6 символов</span>
    </div>

    <div class="input-block" *ngIf="!isLoginState">
        <ion-label class="label">Подтвердите пароль:</ion-label>
        <ion-input class="input" (ionChange)="checkConfirm()" [class.input_notvalid]="!isConfPassValid" type="password" [(ngModel)]="confirm_password"></ion-input>
        <!-- <ion-icon class="icon" name="eye" (mousedown)="c_pass.type = 'text'"></ion-icon> -->
        <span class="alert" [hidden]="isConfPassValid">Пароли не совпадают</span>
    </div>

    <ion-buttons>
        <button class="button" (click)="goBack()" ion-button outline color="item-background">Назад</button>
        <button class="button" (click)="login()" *ngIf="isLoginState" ion-button outline color="item-background" [disabled]="!isEmailExist || !isEmailValid || !isPassValid || isEmailFieldEmpty || isPassFieldEmpty">Войти</button>
        <button class="button" (click)="register()" *ngIf="!isLoginState" ion-button outline color="item-background" [disabled]="isNewEmailExist || !isEmailValid || !isPassValid || isEmailFieldEmpty || isPassFieldEmpty || isConfPassFieldEmpty">Зарегистрироваться</button>
    </ion-buttons>

</ion-content>
