page-login {

    .input-block {
        position: relative;
        margin-top: 3rem;

        .input {
            background-color: color($colors, item-background);
            box-shadow: 0 0 1rem rgba(0, 0, 0, 0.75);
            margin-bottom: 2rem;
            color: color($colors, text);
            font-size: 1.5rem;
            border: 1px solid transparent;

            &_notvalid {
                border: 1px solid red;
            }

        }
    
        .label {
            color: color($colors, text);
            font-size: 1.4rem;
            font-weight: bold;
        }

        .icon {
            position: absolute;
            right: 1rem;
            bottom: 1.2rem;
            color: color($colors, text);
        }

        .alert {
            font-size: 1rem;
            color: red;
            position: absolute;
            bottom: -15px;
        }

    }

    .button {
        color: color($colors, text);
        padding: 0 1.5rem;
        margin-right: 1rem;
    }

    .login-buttons {
        display: flex;
        justify-content: center;

        &__item {
            margin: 0;
            border-radius: 0;
            background-color: transparent;
            font-weight: bold;
            color: color($colors, text);

            &_left {
                border-radius: 5px 0 0 5px;
            }

            &_right {
                border-radius: 0 5px 5px 0;
            }

            &_active {
                background-color: color($colors, hover);
            }
        }
    }
}