<ion-header>
    <simple-header [headerButtons]="headerButtons"></simple-header>
</ion-header>

<ion-content [class.tablet]="isTablet">

    <div class="content-group">
        <div class="content-group__poster" *ngIf="vodInfo.cover && !isTablet" [style.backgroundImage]="'url('+vodInfo.cover+')'"></div>
        <div class="content-group__poster content-group__poster_stub" *ngIf="!vodInfo.cover && !isTablet"></div>
        <div class="content-group__poster tablet__content-poster" *ngIf="vodInfo.cover && isTablet">
            <img [src]="vodInfo.cover">
        </div>
        <div class="content-group__poster tablet__content-poster" *ngIf="!vodInfo.cover && isTablet">
            <img src="assets/noimg.png">
        </div>
        <div class="content-group__info">
            <span class="text text_small text_muted" *ngIf="genres">{{ genres }}</span>

            <span class="text text_big text_bold text_active text_margin-big">{{ vodInfo.name }}</span>
            <span class="text text_small text_bold text_muted text_margin-small" *ngIf="vodInfo.international_name">{{ vodInfo.international_name }}</span>
            <span class="text text_small text_muted text_margin-big">{{ vodInfo.year }}{{ (vodInfo.year && vodInfo.countries) ? ',' : '' }} {{ vodInfo.countries }}</span>
            <span class="text text_small text_muted text_margin-big film_duration" *ngIf="isHaveDuration"><img src="./assets/imgs/clock-regular.svg">{{ vodInfo.duration }} мин.</span>
            <span class="text text_small text_muted age_rating text_margin-big" *ngIf="vodInfo.age_rating&&vodInfo.age_rating!='0+'">{{ vodInfo.age_rating }}</span>

            <div class="buttons-group" *ngIf="isTablet">
                <div class="button button_watch" (click)="showVideo()" *ngIf="isCanPlay && isLogin && isAvailable">Смотреть <img src="./assets/imgs/play-icon.svg"></div>
                <div class="button button_watch" (click)="redirectToLoginPage()" *ngIf="!isLogin">Авторизоваться</div>
                <div class="button button_watch" (click)="redirectToSubscribePage()" *ngIf="!isAvailable && isLogin">Приобрести подписку</div>
                <div class="button button_subscribe" *ngIf="isLogin && !(isFavorite | async)" (click)="addToFavorite()">Добавить в избранное</div>
                <div class="button button_subscribe" *ngIf="isLogin && (isFavorite | async)" (click)="removeFromFavorite()">Удалить из избранного</div>
            </div>
        </div>
    </div>

    <div class="buttons-group" *ngIf="!isTablet">
        <div class="button button_watch" (click)="showVideo()" *ngIf="isCanPlay && isLogin && isAvailable">Смотреть <img src="./assets/imgs/play-icon.svg"></div>
        <div class="button button_watch" (click)="redirectToLoginPage()" *ngIf="!isLogin">Авторизоваться</div>
        <div class="button button_watch" (click)="redirectToSubscribePage()" *ngIf="!isAvailable && isLogin">Приобрести подписку</div>
        <div class="button button_subscribe" *ngIf="isLogin && !(isFavorite | async)" (click)="addToFavorite()">Добавить в избранное</div>
        <div class="button button_subscribe" *ngIf="isLogin && (isFavorite | async)" (click)="removeFromFavorite()">Удалить из избранного</div>
    </div>

    <div class="episodes" *ngIf="isSeries">
        <div class="series" *ngFor="let season of uniqueSeasons" (click)="setActiveSeason(season)">
            <div class="series__season">
                <div class="series__season-info">
                    <span class="series__season-info-name">{{ season }}</span>
                    <span class="series__season-info-count">{{ getSeriesCount(season) }}</span>
                </div>
                <ion-icon name="arrow-dropright" class="series__season-arrow" [class.series__season-arrow_down]="isActiveSeason(season)"></ion-icon>
            </div>
            <div class="series__details" [style.height.rem]="isActiveSeason(season) ? 3 * getSeriesBySeason(season).length : 0">
                <div class="series__details-item" *ngFor="let series of getSeriesBySeason(season)" (click)="playSeries(series)">
                    <ion-icon name="play" class="series__details-item-play"></ion-icon>
                    <span class="series__details-item-name">{{ series.episode }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="description">
        <p class="description__title">Описание</p>
        <p class="description__text" [innerHTML]="descrText"></p>
    </div>


</ion-content>
