page-vod-info {

    .content-group {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        min-height: 20rem;
        margin-top: 1rem;

        &__poster {
            width: 42%;
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;

            &_stub {
                background-image: url('../../assets/noimg.png');
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &__info {
            width: 55%;
            color: color($colors, text);
            display: flex;
            flex-direction: column;
            padding-right: 25px;
            
            .text {
                
                &_small {
                    font-size: 1.1rem;
                }

                &_big {
                    font-size: 2rem;
                }

                &_muted {
                    color: lightgray;
                }

                &_active {
                    color: color($colors, text);
                }

                &_bold {
                    font-weight: bold;
                }

                &_margin-big {
                    margin-top: 1.2rem;
                }

                &_margin-small {
                    margin-top: .9rem;
                }
            }
            .age_rating{
                display: inline-block;
                padding: 4px 0px;
                border: 1px solid lightgray;
                width: 4rem;
                text-align: center;
            }
        }
    }

    .buttons-group {
        display: flex;
        margin-top: 1.5rem;
        padding: 0 1rem;
        flex-wrap: wrap;

        .button {
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: color($colors, text);
            border-radius: 5px;
            padding: 0 1rem;
            margin: 1rem 1rem 0 0;

            img{
                width: 14px;
                margin-left: 5px;
            }
            
            &_watch {
                background-color: color($colors, hover);
            }

            &_subscribe {
                background-color: #000;
            }
        }
    }

    .description {
        color: color($colors, text);
        padding: 0 1.5rem;
        margin-top: 1.5rem;

        &__title {
            font-weight: bold;
        }

        &__text {
            text-align: justify;
            position: relative;
        }

        .showFullDescr{
            color: color($colors, hover);
            font-weight: bold;
        }
    }
    .film_duration{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img{
            margin-right: 10px;
            width: 13px;
            height: 12px;
            position: relative;
            top: -2px;
        }
    }

    .episodes {
        background: color($colors, toolbar-background);
        margin: 1.5rem;

        .series {

            &__season {
                width: 100%;
                height: 5rem;
                color: color($colors, text);
                padding: 0 1.5rem;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid color($colors, text-muted);
    
                &:last-child {
                    border-bottom: none;
                }
    
                &-info {
                    width: 70%;
    
                    &-name {
                        font-weight: bold;
                        padding-right: 1.5rem;
                    }
    
                    &-count {
                        color: color($colors, text-muted);
                    }
                }

                &-arrow {
                    transition: .2s;

                    &_down {
                        transform: rotate(90deg);
                    }
                }
            }


        &__details {
            transition: .4s;
            overflow: hidden;
            overflow-y: hidden;

            &-item {
                height: 3rem;
                padding: 0 1.5rem;
                display: flex;
                align-items: center;
                color: color($colors, text);

                &-play {
                    margin-right: 1rem;
                }
            }
        }

        }

    }

    .tablet{

        .content-group, .description{
            padding: 0 25px;
        }

        .buttons-group{
            padding-left: 0;
            padding-right: 0;
            .button{
                height: 5rem;
                padding: 0 3rem;
            }
        }

        .description{

            &__title{
                font-size: 2.2rem;
            }

            &__text{
                font-size: 1.8rem;
            }

        }

        .episodes{
            margin: 25px;
        }

        .content-group{
            margin-top: 25px;

            &__info{
                padding-right: 0;
                .text_small{
                    font-size: 1.5rem;
                }
                .text_big{
                    font-size: 2.4rem;
                }
            }

        }

        &__content-poster{
            position: relative;
            img{
                width: 100%;
                display: inline-block;
                vertical-align: top;
            }

        }

    }

}
