channel-onair {
    .channel-onair {
        width: 100%;
        background-color: color($colors, item-background);

        &__logo {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: 2rem;
            height: 4rem;
            color: color($colors, text);
            font-size: 1.4rem;
            position: relative;

            &-img {
                width: 4rem;
                margin-right: 2rem;
            }
        }

        &__progress {
            width: 100%;
            height: .3rem;
        }

        &__thumbnail {
            background-size: initial;
            background-position: center;
            background-repeat: no-repeat;

            &-img {
              width: 100%;

              &_stub {
                opacity: 0;
              }
            }
        }

        &__info {
            height: 8rem;

            &-show {
                height: 4rem;
                border-bottom: 1px solid color($colors, menu-devider);
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 1rem;
                color: color($colors, text);
                font-size: 1.3rem;
                position: relative;

                &_current {
                    font-weight: bold;
                }

                &:last-child {
                    border-bottom: none;
                }

                .channel-info {
                    white-space: nowrap;
                    width: 90%;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }
}
