<div class="channel-onair" (click)="openChannel()">
    <div class="channel-onair__logo" (press)="showModalForChannel()">
        <img class="channel-onair__logo-img" [src]="logo">
        <span>{{ channel.name }}</span>
        <ion-icon *ngIf="isLogin && (isFavorite | async)" name="bookmark" class="bookmark" (click)="removeFavoriteChannel($event)"></ion-icon>
    </div>
    <div class="channel-onair__thumbnail"
        (press)="showModalForChannel()"
        [style.backgroundImage]="'url('+channelLogo+')'"
      >
      <img class="channel-onair__thumbnail-img" [src]="frame" alt="" *ngIf="!isAdult">
      <img class="channel-onair__thumbnail-img channel-onair__thumbnail-img_stub" [src]="imageStub" alt="" *ngIf="isAdult">
    </div>
    <div class="channel-onair__progress">
        <progress-line [progress]="progress"></progress-line>
    </div>
    <div class="channel-onair__info">
        <div class="channel-onair__info-show" [class.channel-onair__info-show_current]="isCurrent(ind)" *ngFor="let item of tvshows; let ind = index" (press)="showModalForTvshow(item.tvshow)">
            <span class="channel-info">{{ item.startTime }} - {{ item.tvshow.title }}</span>
            <ion-icon *ngIf="isLogin && (getIsTvshowFavorite(item.tvshow.tvshow_id) | async)" name="bookmark" class="bookmark" (click)="removeFavoriteTvshow($event, item.tvshow.tvshow_id)"></ion-icon>
        </div>
    </div>
</div>
