page-favorite {

    .fav-button {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        color: color($colors, text);
        padding: 0 1.5rem;
        height: 6rem;
        font-size: 1.6rem;
        border-bottom: 1px solid color($colors, menu-devider);
        
        &__counter {
            padding: 0 .6rem;
            height: 1.8rem;
            color: color($colors, text);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: color($colors, item-background);
            border-radius: .9rem;
            font-size: 1.2rem;
        }
    }

    .favorite-row{
        .row{
            &:nth-child(2){
                margin-bottom: 25px;
            }
        }
        
    }
}