<ion-header>
    <simple-header [headerButtons]="headerButtons"></simple-header>
</ion-header>

<ion-content padding>

    <slider-content
        *ngIf="isHaveFavoriteChannels"
        [title]="featuredChannelsTitle"
        [contentType]="'channel'"
        [channels]="favoriteChannels"
        class="favorite-row"
    ></slider-content>

    <slider-content
        *ngIf="isHaveFavoriteVideos"
        [title]="featuredVideosTitle"
        [contentType]="'video'"
        [vod]="favoriteVideos.videos"
        class="favorite-row"
    ></slider-content>

    <slider-content
        *ngIf="isHaveFavoriteTvshows"
        [title]="featuredTvshowsTitle"
        [contentType]="'video'"
        [vod]="favoriteTvshows.videos"
        class="favorite-row"
    ></slider-content>

</ion-content>
