<div class="tariff-item">

    <div class="tariff-item__base">
        <label class="tariff-item__base-radio" (click)="showDetails()">
            <ion-radio color="hover" (ionSelect)="selectTariff()" [checked]="isCurrentTariffSelected"></ion-radio>
            <span class="tariff-item__base-radio-name">{{ tariff.name }}</span>
        </label>

        <ion-icon name="arrow-dropdown" [class.arrow_up]="isShowDetails" (click)="toggleDetails()"></ion-icon>
    </div>

    <div class="tariff-item__details" [style.height.rem]="isShowDetails ? 7 * tariff.options.length : 0"> <!-- magic number = 7 высота одного элемента в выпадающем списке -->
        <label class="detail-item" *ngFor="let detail of tariff.options">
            <ion-radio color="hover" (ionSelect)="selectOption(detail.product_option_id)" [checked]="isCurrentOptionSelected(detail.product_option_id)"></ion-radio>
            <div class="detail-item__info">
                <span class="detail-item__info-name">{{ detail.name }}</span>
                <span class="detail-item__info-price">{{ detail.price_formatted }}</span>
            </div>
        </label>
    </div>

</div>
