tariff-item {

    .tariff-item {

        &__base {
            // background-color: white;
            color: #fff;
            background-color: #000;
            height: 4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            border-bottom: 1px solid color($colors, main-background);
            border-top: 1px solid color($colors, main-background);

            &-radio {

                &-name {
                    padding-left: 1rem;
                }
            }
        }

        &__details {
            overflow: hidden;
            transition: .3s;

            .detail-item {
                height: 7rem;
                display: flex;
                justify-content: flex-start;
                padding-left: 3rem;
                // align-items: center;
                align-items: flex-start;
                padding: 15px 0;
                padding-left: 5rem;
                background-color: #000;
                color: #fff;
                &__info {
                    display: flex;
                    flex-direction: column;
                    // height: 100%;
                    justify-content: space-around;
                    align-items: flex-start;
                    margin-left: 1rem;
                    text-align: left;
                    &-name {

                    }

                    &-price {
                        font-size: 12px;
                        color: #bfbfbf;
                    }
                }

            }
        }

        .arrow_up {
            transition: .3s;
            transform: rotate(180deg);
        }

    }

}