tariffs {
    .subs {
        background-color: rgb(27, 27, 27);
        padding: 0 15px;
        margin-bottom: 15px;

        &__header {
            background-color: color($colors, menu-devider);
            color: color($colors, text);
            padding-left: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            color: #fefdfe;
            padding: 14px 15px;
            font-weight: bold;
            text-align: center;
        }

        &__footer {
            height: 6rem;
            background-color: color($colors, subs-footer);
            color: color($colors, text);
            padding: 0 1.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-info {
                color: color($colors, text);
            }

            &-button {
                color: color($colors, text);
                background-color: color($colors, item-background);
                height: 70%;
                padding: 0 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                font-weight: bold;
                letter-spacing: .2px;

                &_active {
                    background-color: color($colors, hover);
                }
            }
        }
    }
}