<div class="subs">
    <div class="subs__header">Приобрести подписку</div>
    <tariff-item *ngFor="let tariff of products.products" [tariff]="tariff"></tariff-item>
    <div class="subs__footer">
        <div class="subs__footer-info">
            <span>Выбрано на сумму:</span>
            <div>{{ purchaseSumm }} руб.</div>
        </div>
        <div class="subs__footer-button" [class.subs__footer-button_active]="isHaveSelectedTariff" (click)="getSubscription()">Купить</div>
    </div>
</div>