progress-line {

    .progress {
        width: 100%;
        height: 100%;
        max-height: 2rem;
        position: relative;
        background-color: transparent;

        &__line {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: color($colors, hover);
        }
    }

}