<div class="subs">
    <div class="subs__header">Мои подписки</div>
    
    <subscription-item [subscription]="subscription" *ngFor="let subscription of subscriptions"></subscription-item>

    <div class="subs__footer">
            <div class="subs__footer-info">
                <span>Выбрано на сумму:</span>
                <div>{{ totalSumm }} руб.</div>
            </div>
            <div class="subs__footer-button" [class.subs__footer-button_active]="isHaveSelected" (click)="extendSubscriptions()">Продлить</div>
        </div>
</div>