<ion-header>
    <simple-header [headerButtons]="headerButtons" [categories]="categories" [activeGenreId]="activeGenreId" (onFilterChange)="changeFilter($event)"></simple-header>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>
            <ion-col col-12 col-sm-12 col-md-6 col-lg-3 col-xl-2 *ngFor="let channel of channelsFeed">
                <channel-onair class="channel-onair" [channel]="channel"></channel-onair>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
