<ion-content>

  <div class="review-wrapper">
    <div class="adult-area" *ngIf="isParentControlNeeded">
      <modal-adult (pinChecker)="onAdultCheckerComplete($event)"></modal-adult>
    </div>
      <simple-header [headerButtons]="headerButtons" [hidden]="isLandscape"></simple-header>

      <div class="switcher" [hidden]="isLandscape" #switcher>
          <ion-icon name="arrow-back" class="switcher__button" (click)="loadPreviousChannel()"></ion-icon>
          <img class="switcher__logo" [src]="currentChannel.logo">
          <ion-icon name="arrow-forward" class="switcher__button" (click)="loadNextChannel()"></ion-icon>
      </div>

      <div class="player-area" [class.player-area_landscape]="isLandscape" #playerArea>
          <player #player></player>
          <div class="play-pause-portrait" (click)="showControls()" *ngIf="!isLandscape && isCanPlay">
              <ion-icon name="pause" class="play-pause-portrait__btn" [class.play-pause-portrait__btn_hide]="!isShowControls" (click)="pause($event)" *ngIf="isPlaying"></ion-icon>
              <ion-icon name="play" class="play-pause-portrait__btn" [class.play-pause-portrait__btn_hide]="!isShowControls" (click)="resume()" *ngIf="!isPlaying"></ion-icon>
          </div>
          <channel-player-controller
              [selectedChannel]="currentChannel"
              [channels]="channels"
              [tvshows]="tvshows"
              [isPlaying]="isPlaying"
              *ngIf="isLandscape"
              (onChannelChange)="onChannelChange($event)"
              (controlEvents)="onControllerEvent($event)"
              >
          </channel-player-controller>
          <div class="full-size-place" (click)="setFullscreen()">
              <ion-icon name="expand"></ion-icon>
          </div>
      </div>

      <div class="data-filter" [hidden]="isLandscape" #dataFilter>
          <ion-slides #date_filter_slider (ionSlideDidChange)="dateSlideChange()">
              <ion-slide class="data-filter__slide" [class.data-filter__slide_active]="currentDay.id == date.id" *ngFor="let date of dateScale" (click)="setActiveDate(date.id)">
                  <span class="data-filter_date" *ngIf="today != date.date">{{ date.date }} {{ date.month }} <span class="grey-text"> {{ date.day }}</span></span>
                  <span class="data-filter_date" *ngIf="today == date.date">Сегодня</span>
              </ion-slide>
          </ion-slides>
      </div>

      <div class="tvshows" [hidden]="isLandscape" #tvshows_area>
          <tvshow-item [tvshow]="tvshow" [currentChannel]="currentChannel" *ngFor="let tvshow of tvshows" (redirectEvent)="onRedirect($event)"></tvshow-item>
      </div>
  </div>

</ion-content>
