page-channel-review {

  .review-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .adult-area {
      position: fixed;
      width: 100%;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(0,0,0,.6);
      z-index: 101;
    }
  }

    .switcher {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 7rem;
        padding: 1.5rem;
        margin-top: 1.5rem;

        &__button {
            background-color: transparent;
            width: 3rem;
            height: 3rem;
            color: color($colors, text);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
        }

        &__logo {
            height: auto;
            max-width: 60%;
        }
    }

    .player-area {
        margin-top: 1rem;
        background-color: black;
        position: relative;

        .play-pause-portrait {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;

            &__btn {
                border: 4px solid color($colors, text);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                color: color($colors, text);
                opacity: 1;
                transition: .4s;

                &_hide {
                    opacity: 0;
                    transform: scale(1.4);
                }
            }
        }

        .full-size-place {
            position: absolute;
            right: 15px;
            bottom: 10px;
            color: color($colors, text);
            font-size: 18px;
        }

        &_landscape {
            margin-top: 0;
            height: 100vh;
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;

            .full-size-place{
                display: none;
            }
        }
    }

    .data-filter {

        &__slide {
            height: 5rem;
            font-size: 14px;
            .grey-text{
                color: #cecece;
                display: inline-block;
                padding: 0 5px;
            }
            &_active {
                border-bottom: 2px solid color($colors, hover);
                font-size: 16px;
                font-weight: bold;
            }
        }
        ion-slides{
            margin-bottom: 15px;
        }
    }

    .tvshows {
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }
    .data-filter_date{
        color: color($colors, text);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
