.payment {
  color: white;

  &__header {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
  }

  &__info {
    &-item {
      display: flex;
      justify-content: space-between;

      &-name {
        max-width: 50%;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      }
    }

    &_last {
      margin-bottom: 15px;
    }
  }

  &__pay{
		background-color: #111111;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 2px;
		padding: 12px;
    color: #bdbdbd;

		&-img{
			width: 40%;
			flex-wrap: nowrap;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				display: inline-block;
				margin-left: 12px;
				max-width: 100%;
				// flex: 1 1 auto;
				flex: initial;
			}
		}
		&_text{
			width: 60%;
		}
	}
}
