<ion-header>
  <simple-header></simple-header>
</ion-header>

<ion-content>

    <div class="payModal" *ngIf="isShowPayModal" (click)="closePayModal()">
        <div class="payModal__window" (click)="stopProp($event)">
            <div class="payModal__header">
                <div class="payModal__header_text" *ngIf="isHaveDescription">
                    Оплата при помощи СМС-сообщения
                </div>
                <div class="payModal__header_text" *ngIf="!isHaveDescription">
                    Оплата при помощи банковской карты
                </div>
                <ion-icon name="close" (click)="closePayModal()"></ion-icon>
            </div>
            <div class="payModal__body">
                <div class="payModal__descr" *ngIf="isHaveDescription" [innerHTML]="payModalInfo.description">

                </div>
                <div class="payModal__descr" *ngIf="!isHaveDescription">
                    Для оплаты перейдите по <a [href]="payModalInfo.payment_page_url">ссылке</a>
                </div>
                <div class="payModal__btn" (click)="closePayModal()">
                    OK
                </div>
            </div>
        </div>
    </div>

  <h2 class="payment__header">Информация о подписке</h2>

  <ion-item class="payment__info" *ngIf="payment">
    <ion-label class="payment__info-item">
      <span class="payment__info-item-name">{{ payment.name }}</span>
      <span>{{ payment.options[0].price_formatted }}</span>
    </ion-label>
  </ion-item>

  <ion-item class="payment__info payment__info_last" *ngIf="payment">
    <ion-label class="payment__info-item">
      <span>Период</span>
      <span>{{ payment.options[0].name }}</span>
    </ion-label>
  </ion-item>

  <div class="payment__pay" *ngFor="let item of payWays" (click)="createPayment(item)">
    <div class="payment__pay-text">
        {{ getPayName(item)[0] }}
    </div>
    <div class="payment__pay-img">
        <img *ngIf="getPayName(item)[2]" [src]="getPayName(item)[2]">
        <img [src]="getPayName(item)[1]">
    </div>
  </div>

</ion-content>
