<div class="channel" (press)="showModal()" (click)="openChannel()">
    <div class="channel__image" [style.backgroundImage]="'url('+ channelLogo +')'"
    >
        <img [src]="thumbnail" class="channel__image-thumb" *ngIf="!isAdult">
        <img [src]="imageStub" class="channel__image-thumb channel__image-thumb_stub" *ngIf="isAdult">
        <ion-icon *ngIf="isLogin && (isFavorite | async)" name="bookmark" class="bookmark" (click)="removeFavorite($event)"></ion-icon>
    </div>

    <div class="channel__progress">
        <progress-line [progress]="progress"></progress-line>
    </div>

    <div class="channel__info">
        <span class="channel__info-name">{{ channel.name }}</span>
        <span class="channel__info-genre">{{ tvshow.title }}</span>
    </div>
</div>
