channel {
    .channel {
        width: 100%;
        background-color: color($colors, item-background);

        &__image {
            background-color: beige;
            background-size: initial;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            &-thumb {
                width: 100%;
                display: inline-block;
                vertical-align: top;

                &_stub {
                  opacity: 0;
                }
            }
        }

        &__progress {
            width: 100%;
            height: .3rem;
        }

        &__info {
            height: 5rem;
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            color: color($colors, text);

            &-name {
                font-weight: 600;
                font-size: 1.4rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
            }

            &-genre {
                color: color($colors, text-muted);
                font-size: 1.1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
            }
        }
    }
}
