video-player-controller {

    .controller-area {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        overflow: hidden;

        .play-pause {
            color: color($colors, text);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            opacity: 1;
            transition: .4s;

            &_hide {
                opacity: 0;
                transform: scale(1.5);
            }
            
            &__btn{
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid color($colors, text);;
                border-radius: 50%;
                width: 6rem;
                height: 6rem;
                color: color($colors, text);;
                font-size: 2.4em;
            }
        }

        .video-controller {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5rem;
            background-color: rgba(black, .7);
            transition: .4s;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.5rem;


            .tracker {
                width: 86%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &__progress {
                    width: 100%;
                    height: .2rem;
                    border: 1px solid color($colors, text);

                }

                &__time {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    color: color($colors, text);;
                    font-size: 1rem;
                }
            }

            .full-size{
                color: color($colors, text);
                font-size: 1.8em;
            }
        }
    }

    .progress {
        width: 100%;
        height: 100%;
        max-height: 2rem;
        height: 0.2rem;
        position: relative;
        background-color: transparent;
        
        &__line {
            position: absolute;
            left: -1px;
            top: -1px;
            height: 100%;
            background-color: color($colors, hover);
            &:after{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                position: absolute;
                right: -5px;
                top: -4px;
                background-color: color($colors, hover);
            }
        }
    }

    .range-md .range-knob{
        background-color: color($colors, hover);
    }
    .range-md .range-bar-active{
        background-color: color($colors, hover);
    }
}