<div class="controller-area" (click)="showControls()">
    <div class="play-pause" *ngIf="isCanPlay" [class.play-pause_hide]="!isControlShows && isPlaying">
        <ion-icon [hidden]="!isPlaying" name="pause" (click)="pause()" class="play-pause__btn"></ion-icon>
        <ion-icon [hidden]="isPlaying" name="play" (click)="play()" class="play-pause__btn"></ion-icon>
    </div>
    <div class="video-controller" [style.transform]="'translateY('+controlPosition+'rem)'">

        <div class="tracker">
            <ion-range min="0" max="100" step="1" (ionBlur)="seekTo($event)" [(ngModel)]="progress">
            </ion-range>
            <div class="tracker__time">
                <span>{{ currentTimeString }}</span>
                <span>{{ durationString }}</span>
            </div>
        </div>
        <div class="full-size" (click)="toggleOrientation()">
            <ion-icon name="expand"></ion-icon>
        </div>

    </div>
</div>
