<ion-content>

    <simple-header [hidden]="isLandscape" [headerButtons]="headerButtons"></simple-header>

    <div class="player-area" [class.player-area_landscape]="isLandscape">
        <player #pl></player>
        <video-player-controller [isPlaying]="isPlaying" [isCanPlay]="isCanPlay" [duration]="duration" [currentTime]="currentTime" (controlEvents)="onControlEvent($event)"></video-player-controller>
    </div>

</ion-content>
