page-video-player {
    .test-info {
        font-weight: bold;
        color: white;
    }

    .player-area {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        display: flex;
        align-items: center;
        z-index: -1;

        &_landscape {
            display: block;
            height: 100vh;
        }
    }
}