modal-filter {
  .modal-area {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-window {
      position: relative;
      width: 80%;
      max-width: 480px;
      height: 80%;
      background-color: white;
      display: flex;
      flex-direction: column;
      overflow: auto;

      &__list{
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding-bottom: 50px;
      }

      &__item{
        padding: 12px 22px;
        font-size: 15px;
        border-bottom: 1px solid #e4e4e4;

        &:last-child{
          border-bottom: none;
        }

        &_active{
          background-color: color($colors, hover);;
          color: color($colors, text);
          border-color: color($colors, hover);;
        }
      }

      &__close{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
        font-size: 16px;
        font-weight: bold;
        background-color: #1b1b1b;
        color: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 500px){
  modal-filter .modal-area .modal-window{
    max-width: 280px;
  }
}
