<div class="modal-area" (click)="closeModal($event)">
  <div class="modal-window">
  	<div class="modal-window__list">
      <span
        *ngFor="let category of categories"
        (click)="changeCategory(category)"
        class="modal-window__item"
        [class.modal-window__item_active]="isCurrentGenre(category.id)"
      >{{ category.name | capitalize }}</span>
  	</div>
    <div class="modal-window__close" (click)="closeModal($event)">
    	Отмена
    </div>
  </div>
</div>
