<ion-header no-border>
    <simple-header></simple-header>
</ion-header>


<ion-content>

    <ngx-slick *ngIf="isHaveBanners" class="main-banner carousel" #slickModal [config]="slideConfig">
        <div ngxSlickItem *ngFor="let item of bannersData" class="slide" >
            <div class="main-banner__img">
                <img [src]="item.img_url_mobile" alt="" width="100%" (click)="bannerRedirect(item)">
            </div>
        </div>
    </ngx-slick>
<!-- CHANNELS -->
    <ion-grid padding>
        <slider-content
            *ngIf="isHaveFeaturedChannels"
            [title]="featuredChannelsTitle"
            [channels]="featuredChannels"
            [contentType]="'channel'"
            [redirect]="getRedirect('LivePage')"
        ></slider-content>
    </ion-grid>

    <ion-grid padding *ngIf="featuredChannelsTapes.length > 0">
      <slider-content
          *ngFor="let tape of featuredChannelsTapes"
          [title]="tape.title"
          [channels]="tape.channels"
          [contentType]="'channel'"
          [redirect]="getRedirect('LivePage', tape.genre_id)"
      ></slider-content>
    </ion-grid>

<!-- FILMS -->
  <ng-container *ngIf="loadingStep >= 1">
    <ion-grid padding *ngIf="featuredVod.length > 0 && featuredVod[0]">
      <slider-content
          [title]="featuredVod[0].name"
          [vod]="featuredVod[0].videos"
          [contentType]="featuredVod[0].type"
          [redirect]="getRedirect('FilmsPage')"
      ></slider-content>
    </ion-grid>

    <ion-grid padding *ngIf="featuredFilmsTapes.length > 0">
      <slider-content
          *ngFor="let tape of featuredFilmsTapes"
          [title]="tape.title"
          [vod]="tape.videos"
          [contentType]="'video'"
          [redirect]="getRedirect('FilmsPage', tape.genre_id)"
      ></slider-content>
    </ion-grid>
  </ng-container>

<!-- SERIES -->
  <ng-container *ngIf="loadingStep >= 2">
    <ion-grid padding *ngIf="featuredVod.length > 0 && featuredVod[1]">
      <slider-content
          [title]="featuredVod[1].name"
          [vod]="featuredVod[1].videos"
          [contentType]="featuredVod[1].type"
          [redirect]="getRedirect('SeriesPage')"
      ></slider-content>
    </ion-grid>

    <ion-grid padding *ngIf="featuredSeriesTapes.length > 0">
      <slider-content
          *ngFor="let tape of featuredSeriesTapes"
          [title]="tape.title"
          [vod]="tape.videos"
          [contentType]="'video'"
          [redirect]="getRedirect('SeriesPage', tape.genre_id)"
      ></slider-content>
    </ion-grid>
  </ng-container>

<!-- CARTOONS -->
  <ng-container *ngIf="loadingStep >= 3">
    <ion-grid padding *ngIf="featuredVod.length > 0 && featuredVod[2]">
      <slider-content
          [title]="featuredVod[2].name"
          [vod]="featuredVod[2].videos"
          [contentType]="featuredVod[2].type"
          [redirect]="getRedirect('CartoonsPage')"
      ></slider-content>
    </ion-grid>

    <ion-grid padding *ngIf="featuredCartoonsTapes.length > 0">
      <slider-content
          *ngFor="let tape of featuredCartoonsTapes"
          [title]="tape.title"
          [vod]="tape.videos"
          [contentType]="'video'"
          [redirect]="getRedirect('CartoonsPage', tape.genre_id)"
      ></slider-content>
    </ion-grid>
  </ng-container>

<!-- TVSHOWS -->
  <ng-container *ngIf="loadingStep >= 4">
    <ion-grid padding *ngIf="featuredVod.length > 0 && featuredVod[3]">
      <slider-content
          [title]="featuredVod[3].name"
          [vod]="featuredVod[3].videos"
          [contentType]="featuredVod[3].type"
          [redirect]="getRedirect('ShowsPage')"
      ></slider-content>
    </ion-grid>

    <ion-grid padding *ngIf="featuredTvshowsTapes.length > 0">
      <slider-content
          *ngFor="let tape of featuredTvshowsTapes"
          [title]="tape.title"
          [vod]="tape.videos"
          [contentType]="'tv'"
          [redirect]="getRedirect('ShowsPage', tape.genre_id)"
      ></slider-content>
    </ion-grid>
  </ng-container>

<!-- COURSES -->
<ng-container *ngIf="loadingStep > 5">
  <ion-grid padding *ngIf="featuredVod.length > 0 && featuredVod[4]">
    <slider-content
        [title]="featuredVod[4].name"
        [vod]="featuredVod[4].videos"
        [contentType]="'tv'"
        [redirect]="getRedirect('CoursesPage')"
    ></slider-content>
  </ion-grid>
</ng-container>

    <ion-infinite-scroll threshold="0" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

