page-home {

    .banner-block {
        background-color: black;

        &__image {            
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;

            img{
                display: inline-block;
                vertical-align: top;
                margin: 0 10px;
            }

            
        }
    }

    .main-banner{
        img{
            display: inline-block;
            vertical-align: top;
        }
        &__img{
            margin: 3%;
        }
        .slick-slide{
            transition: all 300ms ease;
            position: relative;
            &>div{
                margin: 3%;
                position: relative;
            }
        }
        .slide-link {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            z-index: 100;
            left: 0;
            top: 0;
        }
        .slick-center{
            transform: scale(1.08);
            transition: all 300ms ease;
        }
        .slick-dotted.slick-slider{
            margin-bottom: 0;
        }
        .slick-dots{
            bottom: 5%;
            z-index: 55;
        }
        .slick-dots li button:before{
            font-size: 10px;
        }
        .slick-dots li.slick-active button:before{
            color: #fff;
        }
        .slick-dots li button{
            padding: 0;
        }
    }

    ion-slides{
        height: auto;
    }

    
    .swiper-pagination-bullet{
        background: color($colors, text-muted);
    }
    .swiper-pagination-bullet-active{
        background: color($colors, text);
    }

}
