<ion-header>
    <simple-header [headerButtons]="headerButtons" [categories]="categories" (onFilterChange)="showFilteredChannels($event)"></simple-header>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let channel of channelsFeed" col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2>
                <div class="channel" (click)="showChannelReview(channel.channel_id)" (press)="showModal(channel.channel_id)">
                    <ion-icon *ngIf="isLogin && (isFavorite(channel.channel_id) | async)" name="bookmark" class="bookmark" (click)="removeFavorite($event, channel.channel_id)"></ion-icon>
                    <img class="channel__logo" [src]="channel.logo">
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>