page-tv {

    .channel {
        width: 100%;
        height: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color($colors, item-background);
        position: relative;

        &__logo {
            width: 50%;
            max-width: 8rem;
        }
    }

}