slider-content {

    .title {
        text-transform: uppercase;
        color: color($colors, text);
        text-decoration: underline;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .show-all {
        width: 100%;
        background-color: color($colors, hover);
        color: color($colors, text);
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        padding: 0 15px;
        &_channel {
            height: 100%;
        }

        &_video {
            height: 100%;
        }
    }

    .slide-zoom{
        height: 100%;
    }

}
