<ion-row (click)="redirectTo()">
    <ion-col col-12 ion-text class="title">{{ title }}</ion-col>
</ion-row>

<ion-row>

      <ion-slides #slider *ngIf="isChannels">
          <ion-slide *ngFor="let channel of channels">
            <channel [channel]="channel"></channel>
          </ion-slide>
          <ion-slide *ngIf="isNeedRedirectCard">
            <div class="show-all show-all_channel" (click)="redirectTo()">Показать все</div>
          </ion-slide>
      </ion-slides>

      <ion-slides #slider *ngIf="isVideos">
        <ion-slide *ngFor="let video of vod">
          <video-card [content]="video"></video-card>
        </ion-slide>
        <ion-slide *ngIf="isNeedRedirectCard">
          <div class="show-all show-all_video" (click)="redirectTo()">Показать все</div>
        </ion-slide>
    </ion-slides>

    <ion-slides #slider *ngIf="isTvshows">
      <ion-slide *ngFor="let tv of vod">
        <video-card [content]="tv" [type]="'tv'"></video-card>
      </ion-slide>
      <ion-slide *ngIf="isNeedRedirectCard">
        <div class="show-all show-all_channel" (click)="redirectTo()">Показать все</div>
      </ion-slide>
  </ion-slides>

</ion-row>
