<div class="tape-item" (click)="showInfoPage()">
    <div class="tvshow-tape-info" [class.tvshow-tape-info_current]="isCurrent">
        <span>{{ startTime }}</span>
        <span *ngIf="isCurrent">(в эфире)</span>
    </div>
    <div class="tape-element" [class.tape-element_current]="isCurrent" [style.backgroundImage]="'url('+tvshow?.cover+')'">
        <div class="tvshow-name">{{ tvshow.title }}</div>
        <ion-icon *ngIf="isArchive" name="folder" class="tvshow-archive"></ion-icon>
        <img *ngIf="!tvshow.cover" [src]="logo">

        <div class="progress" *ngIf="isCurrent">
            <progress-line [progress]="progress"></progress-line>
        </div>
    </div>

</div>
