tvshow-tape-item {

    .tape-item {
        width: 15rem;
        height: 90%;
        margin: 0 5px;
    }

    .tvshow-tape-info {
        width: 100%;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: color($colors, text);
        font-size: 1.2rem;

        &_current {
            font-weight: bold;
        }
    }

    .tape-element {
        height: 10rem;
        width: 100%;
        border: 1px solid color($colors, item-background);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &_current {
            border: 1px solid color($colors, light);
        }

        .tvshow-name {
            white-space: nowrap;
            width: 80%;
            overflow: hidden;
            text-overflow: ellipsis;
            color: color($colors, text);
            position: absolute;
            left: .5rem;
            top: .5rem;
            font-weight: bold;
            font-size: 1rem;
            text-align: left;
        }

        .tvshow-archive {
            position: absolute;
            right: .5rem;
            top: .5rem;
            color: color($colors, text);
        }

        .progress {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: .3rem;
        }
    }

}