modal {
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(black, .6);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        &__window {
            width: 60%;
            max-width: 35rem;
            background-color: color($colors, text);
            border-radius: 5px;
            box-shadow: 0 0 15px 0 rgba(black, .6);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 10px;

            &-buttons {
                display: flex;
                margin-top: 1rem;
                align-items: center;

                .divider {
                    width: 1px;
                    height: 2rem;
                    border-left: 1px solid color($colors, text-muted);
                }
            }

            .modal-button {
                padding: 2rem;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: color($colors, text);
                background-color: color($colors, hover);
                border-radius: 5px;
                white-space: nowrap;

                &_transparent {
                    background-color: transparent;
                    color: color($colors, hover);
                }
            }
        }
    }
}

