<div class="modal" (click)="closeModal()" *ngIf="isShowModal">
    <div class="modal__window" (click)="stopProp($event)">
        
        <div class="modal-button" *ngIf="isLogin && !(isFavorite | async)" (click)="addToFavorite()">Добавить в избранное</div>
        <div class="modal-button" *ngIf="isLogin && (isFavorite | async)" (click)="removeFromFavorite()">Удалить из избранного</div>
        
        <div class="modal__window-buttons">
            <div class="modal-button modal-button_transparent" [hidden]="!isNeedDetails" (click)="showDetails()">Подробнее</div>
            <div class="divider" [hidden]="!isNeedDetails"></div>
            <div class="modal-button modal-button_transparent" (click)="closeModal()">Отмена</div>
        </div>
        
    </div>
</div>