<ion-menu [content]="menucontent" type="overlay">

  <ion-header>
    <ion-toolbar>
      <ion-title text-center>
        <img class="menu-logo" src="../assets/logo.svg" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-content>
      <ion-list>
        <button ion-item menuClose *ngFor="let menuItem of menuPages" [class.activeItem]="isActiveNav(menuItem)" (click)="goTo(menuItem)">
          <img class="navbar-icon" *ngIf="menuItem.img" [src]="menuItem.img">
          <ion-icon class="navbar-icon" *ngIf="menuItem.icon" [name]="menuItem.icon"></ion-icon> {{ menuItem.title }}
        </button>
      </ion-list>
    </ion-content>
</ion-menu>

<modal></modal>

<ion-nav #menucontent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
