.toolbar-background {
    background: color($colors, toolbar-background);
}

.toolbar-title {
    font-weight: bold;
    font-size: 2rem;
    color: #bfbfbf;
}

.activeItem {
    background-color: color($colors, hover) !important;
}

ion-content {
    background: color($colors, main-background) !important;
}

.item-md {
    background-color: transparent;
    color: color($colors, text);
    padding-left: 0;
}

.item-md.item-block .item-inner {
    padding-left: 16px;
    border-bottom: 1px solid color($colors, menu-devider);
}

.page-title {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.swiper-pagination-bullet {
    background: color($colors, text);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: color($colors, item-background);
}

.menu-logo {
    width: 11rem;
}

.alert-md .alert-head, .alert-ios .alert-head {
    background-color: color($colors, hover);
    color: color($colors, text);
    padding: 15px 24px 10px;
}
.alert-ios .alert-title{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-ios .alert-button, .alert-ios [aria-checked=true] .alert-radio-label{
    color: color($colors, hover);
}
.alert-ios [aria-checked=true] .alert-radio-inner{
    border-color: color($colors, hover);;
}
.alert-ios .alert-radio-group, .alert-ios .alert-checkbox-group{
    border-top: none;
}

.navbar-icon{
    max-width: 22px;
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
}
.item-ios{
    background-color: transparent;
    color: #fff;
    padding-left: 0;
    border-top: none !important;
    border-bottom: none !important;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
    background-image: none;
    padding-left: 14px;
    border-bottom: none;
    box-shadow: none;
}
.item-select{
    .input-wrapper{
        justify-content: center;
        ion-select{
            max-width: 100%;
        }
    }
}
.item-ios.item-block .item-inner{
    border-bottom: none;
}
.alert-wrapper{
    width: 90%;
    height: 90vh;
}
.alert-radio-group{
    height: 75vh;
    max-height: 90% !important;
}
.alert-md .alert-title{
    text-align: center;
    font-size: 18px;
}
.alert-md [aria-checked=true] .alert-radio-label{
    color: initial;
}
.alert-md .alert-radio-inner{
    background-color: #e05e20;
}
.alert-md [aria-checked=true] .alert-radio-icon{
    border-color: #e05e20;
}
.alert-md .alert-button{
    color: #e05e20;
}

.bookmark{
    color: color($colors, hover) !important;
    font-size: 3rem;
    position: absolute;
    top: -.4rem;
    right: 1.5rem;

    &_active {
        color: color($colors, hover) !important;
    }
}
.alert-ios .alert-wrapper, .alert-md .alert-wrapper{
    max-width: 500px;
}
.alert-ios .alert-radio-label{
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px 26px;
}
.alert-ios .alert-radio-icon{
    left: 13px;
    top: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
    order: 0;
    min-width: 1px;
}
.alert-ios [aria-checked=false] .alert-radio-inner{
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #e05e20;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
.alert-ios [aria-checked=true] .alert-radio-icon{
    border-color: #e05e20;
}
.alert-ios [aria-checked=true] .alert-radio-inner{
    background-color: #e05e20;
    left: 2px;
    top: 2px;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}
@media screen and (max-width: 400px){
    .alert-ios .alert-wrapper, .alert-md .alert-wrapper{
        max-width: 270px;
    }
}

