.billing-confirm{
	position: relative;
	color: #fff;
	padding: 0 20px;
	&__title{
		font-size: 16px;
		margin-bottom: 15px;
	}
	&__item{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		ion-icon{
			font-size: 20px;
			position: relative;
			top: -2px;
		}
		&_body{
			display: flex;
			flex-wrap: wrap;
			font-size: 14px;
			padding-left: 10px;
			&>div{
				width: 100%;
			}
		}
		&_title{
			margin-bottom: 10px;
		}
		&_name{
			color: #bdbdbd;
			padding-left: 20px;
			margin-bottom: 5px;
		}
		&_price{
			color: #bdbdbd;
			padding-left: 20px;
		}
	}
	&__sum{
		font-size: 16px;
		margin-top: 20px;
		font-weight: 600;
		margin-bottom: 20px;
		span{
			color: #f3793f;
		}
	}
	&__pay{
		background-color: #111111;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		border-radius: 2px;
		padding: 12px;
		color: #bdbdbd;
		&_img{
			width: 40%;
			flex-wrap: nowrap;
			display: flex;
			justify-content: center;
			align-items: center;
			img{
				display: inline-block;
				margin-left: 12px;
				max-width: 100%;
				// flex: 1 1 auto;
				flex: initial;
			}
		}
		&_text{
			width: 60%;
		}
	}
}
.payModal{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, .6);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	z-index: 1000;
	color: #fff;
	padding: 0 3rem 3rem 3rem;
	overflow: auto;
	&__window{
		background-color: #fff;
		display: flex;
		flex-wrap: wrap;
		text-align: left;
		justify-content: flex-start;
		color: #333;
	}
	&__header{
		position: relative;
		color: #fff;
		font-size: 18px;
		text-align: center;
		background-color: color($colors, hover);
		padding: 1.5rem 3rem;
		ion-icon{
			position: absolute;
			font-size: 30px;
			top: 0;
			right: 10px;
		}
	}
	&__body{
		padding: 1.5rem 2rem;
		width: 100%;
	}
	&__descr{
		white-space: pre-line;
		a{
			color: color($colors, hover);
			text-transform: uppercase;
			font-weight: 600;
			text-decoration: none;
		}
	}
	&__btn{
		margin-top: 2rem;
		color: color($colors, hover);
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		border-top: 1px solid #bdbdbd;;
		padding: 1.5rem 0;
	}


}
@media screen and (max-width: 500px){
	.billing-confirm__pay_img{
		justify-content: flex-start;
	}
}