<ion-header>
    <simple-header [headerButtons]="headerButtons"></simple-header>
</ion-header>

<ion-content>
    <div class="payModal" *ngIf="isShowPayModal" (click)="closePayModal()">
        <div class="payModal__window" (click)="stopProp($event)">
            <div class="payModal__header">
                <div class="payModal__header_text" *ngIf="isHaveDescription">
                    Оплата при помощи СМС-сообщения
                </div>
                <div class="payModal__header_text" *ngIf="!isHaveDescription">
                    Оплата при помощи банковской карты
                </div>
                <ion-icon name="close" (click)="closePayModal()"></ion-icon>
            </div>
            <div class="payModal__body">
                <div class="payModal__descr" *ngIf="isHaveDescription" [innerHTML]="payModalInfo.description">

                </div>
                <div class="payModal__descr" *ngIf="!isHaveDescription">
                    Для оплаты перейдите по <a [href]="payModalInfo.payment_page_url">ссылке</a>
                </div>
                <div class="payModal__btn" (click)="closePayModal()">
                    OK
                </div>
            </div>
        </div>
    </div>

    <div class="billing-confirm">
        <div class="billing-confirm__title">
            Продление подписок
        </div>
        <div class="billing-confirm__item" *ngFor="let tariff of selectedTariffs">
            <ion-icon name="checkmark"></ion-icon>
            <div class="billing-confirm__item_body">
                <div class="billing-confirm__item_title">Пакет {{ tariff.name }}</div>
                <div class="billing-confirm__item_name">Период: {{ tariff.options[0].name }}</div>
                <div class="billing-confirm__item_price">Стоимость: {{ tariff.options[0].price_formatted }}</div>
            </div>

        </div>

        <div class="billing-confirm__sum">
            Итого к оплате: <span>{{ billingSumm }} руб.</span>
        </div>

        <div class="billing-confirm__pay" *ngFor="let item of payWays" (click)="createPayment(item)">
            <div class="billing-confirm__pay_text">
                {{ getPayName(item)[0] }}
            </div>
            <div class="billing-confirm__pay_img">
                <img *ngIf="getPayName(item)[2]" [src]="getPayName(item)[2]">
                <img [src]="getPayName(item)[1]">
            </div>

        </div>
    </div>


</ion-content>
