page-channel-player {
    .area {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        z-index: -1;

        &__player {
            width: 100%;
            height: 45rem;
            overflow: hidden;
            position: relative;

            &_landscape {
                height: 100%;
            }
        }

        &_landscape {
            margin-top: 0;
            position: fixed;
            left: 0;
            top: 0;
            display: block;
            height: 100vh;
        }
    }
}