<ion-content>

        <simple-header [headerButtons]="headerButtons" [hidden]="isLandscape"></simple-header>

        <div class="area">

            <div class="area__player" [class.area__player_landscape]="isLandscape">

              <modal-adult *ngIf="isParentControlNeeded" (pinChecker)="onAdultCheckerComplete($event)"></modal-adult>

                <player #player></player>
                <channel-player-controller
                  [isCanPlay]="isCanPlay"
                  *ngIf="(channels | async)"
                  [selectedChannel]="currentChannel"
                  [channels]="(channels | async)"
                  [tvshows]="tvshows"
                  (onChannelChange)="changeActiveChannel($event)"
                  [isPlaying]="isPlaying"
                  (controlEvents)="onControlEvent($event)"
                >
                </channel-player-controller>

            </div>

        </div>

</ion-content>
