channel-player-controller {

    .channel-ctrl-area {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .play-pause {            
                border: 4px solid white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                color: white;
                opacity: 1;
                transition: .4s;

                &_hide {
                    opacity: 0;
                    transform: scale(1.4);
                }
            
        }

        .full-size{
            position: absolute;
            right: 15px;
            bottom: 13rem;
            color: #fff;
            font-size: 18px;
            transition: .3s;

            &_landscape {
                top: 2rem;
            }

            &_hide{
                right: -100%;
            }
        }

        .channel-switcher {
            position: absolute;
            left: 0;
            top: 0;            
            transition: .4s;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            opacity: 1;

            &_portrait {
                width: 100%;
                height: 12rem;
                background: linear-gradient(to bottom, rgba(69,72,77,0) 0%,rgba(69,72,77,0.28) 35%,rgba(0,0,0,0.8) 100%);
                flex-direction: row;
                overflow-x: auto;
                overflow-y: hidden;
            }

            &_landscape {
                width: 12rem;
                height: 100%;
                background: linear-gradient(to right, rgba(69,72,77,0) 0%,rgba(69,72,77,0.28) 35%,rgba(0,0,0,0.8) 100%);
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: auto;
            }

            &_hide {

                &-landscape {
                    transform: translateX(-12rem);
                    opacity: 0;
                }

                &-portrait {
                    transform: translateY(-12rem);
                    opacity: 0;
                }
            }

            .channel-card {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid color($colors, text);

                &_active {
                    background: linear-gradient(to right, transparent 0%,rgba(224, 94, 32, .3) 35%,rgba(224, 94, 32, .8) 100%); 
                }

                &_landscape {
                    width: 90%;
                    min-height: 7rem;
                    margin: 10px 0;
                }

                &_portrait {
                    min-width: 12rem;
                    height: 90%;
                    margin: 0 10px;
                }

                &__logo {
                    width: 50%;
                }

            }
        }

        .tvshow-switcher {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 13rem;
            background: linear-gradient(to bottom, rgba(0,0,0,0.8) 100%, rgba(69,72,77,0.28) 45%, rgba(69,72,77,0) 0%); 
            display: flex;
            align-items: center;
            justify-content: flex-start;
            overflow: hidden;
            overflow-y: hidden;
            overflow-x: auto;
            transition: .4s;
            opacity: 1;

            &_hide {
                opacity: 0;
                transform: translateY(13rem);
            }

            &_landscape {
                width: calc(100% - 12rem);
            }

            &_portrait {
                width: 100%;
            }
        }
    }

}