<div class="channel-ctrl-area"
    (click)="showControls()"
    (swipe)="showControls()"
    (touchstart)="showControls()"
    >
    <div class="channel-switcher"
        [class.channel-switcher_hide-landscape]="!isShowControls && isLandscape"
        [class.channel-switcher_hide-portrait]="!isShowControls && !isLandscape"
        [class.channel-switcher_landscape]="isLandscape"
        [class.channel-switcher_portrait]="!isLandscape"
    >
        <div
            class="channel-card"
            [class.channel-card_landscape]="isLandscape"
            [class.channel-card_portrait]="!isLandscape"
            *ngFor="let channel of channels"
            [class.channel-card_active]="isActiveChannel(channel)"
            (click)="changeActiveChannel(channel)"
        >
            <img class="channel-card__logo" [src]="channel.logo" alt="">
        </div>
    </div>


    <div
        [class.tvshow-switcher_hide]="!isShowControls"
        class="tvshow-switcher"
        [class.tvshow-switcher_portrait]="!isLandscape"
        [class.tvshow-switcher_landscape]="isLandscape"
    >
            <tvshow-tape-item [class.tape-item-active]="isCurrentTvshow(tvshow)" *ngFor="let tvshow of tvshows" [tvshow]="tvshow" [channel]="selectedChannel"></tvshow-tape-item>
    </div>

    <div class="play-pause" *ngIf="isCanPlay" (click)="showControls()" [class.play-pause_hide]="!isShowControls">
        <ion-icon name="pause" class="play-pause__btn" (click)="pause()" *ngIf="isPlaying"></ion-icon>
        <ion-icon name="play" class="play-pause__btn" (click)="resume()" *ngIf="!isPlaying"></ion-icon>
    </div>

    <div class="full-size" [class.full-size_hide]="!isShowControls" [class.full-size_landscape]="isLandscape" (click)="toggleOrientation()">
        <ion-icon name="expand"></ion-icon>
    </div>

</div>


