subscription-item {

    .subscription-item {

        &__base {
            background-color: #000;
            color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 2rem;
            border-bottom: 1px solid color($colors, main-background);
            border-top: 1px solid color($colors, main-background);
            &-radio {
                display: flex;
                padding: 15px 0;
                width: 100%;
                justify-content: flex-start;
                .subscription__info {
                    padding-left: 1rem;
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    align-items: center;

                    &-name {

                    }

                    &-date {
                        color: color($colors, text-muted);
                        font-size: 1rem;
                        padding-left: 12px;
                    }
                }
            }
        }

        &__details {
            overflow: hidden;
            transition: .3s;
            height: 5rem;
            background-color: #000;
            color: #fff;

            .detail-item {
                height: 13rem;
                display: flex;
                justify-content: flex-start;
                padding-left: 3rem;
                align-items: center;
                flex-wrap: wrap;
                &__info {
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-start;
                    margin-left: 1rem;
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: center;
                    &_title{
                        width: 85px;
                        color: #bfbfbf;
                        font-size: 12px;
                        margin-right: 1rem;
                    }
                    &_value{
                        margin-bottom: 0;
                        font-size: 14px;
                        text-align: left;
                        padding-right: 20px;
                    }
                    &-name {

                    }

                    &-price {

                    }
                }

            }
        }

        .arrow_up {
            transition: .3s;
            transform: rotate(180deg);
        }

    }

}