<div class="subscription-item">

    <div class="subscription-item__base">
        <label class="subscription-item__base-radio" (click)="showDetails()">
            <!-- <ion-checkbox color="hover" [(ngModel)]="subscription.is_selected"></ion-checkbox> -->
            <ion-radio color="hover" [checked]="isCurrentSubscriptionSelected" (ionSelect)="selectSubscription()"></ion-radio>
            <div class="subscription__info">
                <span class="subscription__info-name">{{ subscription.product_name }}</span>
                <span class="subscription__info-date" *ngIf="isActive()">через {{ relativeTime }}</span>
                <span class="subscription__info-date" *ngIf="!isActive()">подписка закончилась</span>
            </div>
        </label>

        <ion-icon name="arrow-dropdown" (click)="toggleDetails()" [class.arrow_up]="isShowDetails"></ion-icon>
    </div>

   <div class="subscription-item__details" [style.height.rem]="isShowDetails ? 13 : 0">
        <label class="detail-item">
            <div class="detail-item__info">
                <span class="detail-item__info_title">Услуга</span>
                <div class="detail-item__info_value">{{ subscription.product_option_name }}</div>
            </div>
            <div class="detail-item__info">
                <span class="detail-item__info_title">Дата приобретения</span>
                <div class="detail-item__info_value">{{ createDate }}</div>
            </div>
            <div class="detail-item__info">
                <span class="detail-item__info_title">Дата завершения</span>
                <div class="detail-item__info_value">{{ expiredDate }}</div>
            </div>
            <div class="detail-item__info">
                <span class="detail-item__info_title">Стоимость</span>
                <div class="detail-item__info_value">{{ subscription.cost }} руб.</div>
            </div>
        </label>
    </div>


</div>
