<ion-header>
    <simple-header></simple-header>
</ion-header>

<ion-content padding>

  <div class="search-field" [class.search-field_wide]="isLandscape || isTablet">

      <ion-searchbar class="search-input"
        [class.search-input_wide]="isLandscape || isTablet"
        placeholder="Найти"
        (keyup.enter)="getItems()"
        (ionClear)="clearItems()"
        [(ngModel)]="text"
        [showCancelButton]="false">
      </ion-searchbar>

      <div class="search-button" [class.search-button_wide]="isLandscape || isTablet" (click)="getItems()">Поиск</div>
  </div>

    <span *ngIf="isNothingToShow" class="search-nothingtoshow">По Вашему запросу ничего не найдено</span>

    <slider-content class="search-group" *ngIf="isHaveChannels" [title]="'Найденные каналы'" [channels]="channels" [contentType]="'channel'"></slider-content>

    <slider-content class="search-group" *ngIf="isShowVideos" [vod]="videos.videos" [contentType]="'video'" [title]="'Найденное видео'"></slider-content>

    <slider-content class="search-group" *ngIf="isShowTvshows" [vod]="tvshows.videos" [contentType]="'tv'" [title]="'Найденные передачи'"></slider-content>

</ion-content>
