page-search {

  .search-field {
    display: flex;
    flex-direction: column;

    &_wide {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .search-input {
      width: 100%;
      padding: 0;

      &_wide {
        width: 80%;
      }
    }

    .search-button {
      padding:  0 1.5rem;
      background-color: color($colors, hover);
      color: color($colors, text);
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      width: 100%;
      box-sizing: border-box;
      margin-top: 1rem;

      &_wide {
        width: 19%;
        margin-top: 0;
      }
    }
  }
    .searchbar-md .searchbar-input {
        border-radius: 11px;
        background-color: color($colors, item-background);
        color: color($colors, text);
    }

    .searchbar-ios .searchbar-input {
      border-radius: 11px;
      background-color: color($colors, item-background);
      color: color($colors, text);
  }

    .search-group {
        margin-bottom: 1.5rem;
        margin-left: 1.5rem;
    }

    .search-nothingtoshow {
        display: block;
        width: 100%;
        padding-top: 5rem;
        text-align: center;
        font-weight: bold;
        color: color($colors, text);
    }
}
