<ion-header>
    <simple-header></simple-header>
</ion-header>

<ion-content>

    <div class="account-button" [class.account-button_active]="!isAccountSelected" (click)="selectPoint('subscr')">Подписки/покупки</div>
    <div class="account-button" [class.account-button_active]="isAccountSelected" (click)="selectPoint('account')">Аккаунт</div>

    <div class="info-area">

        <account-info [hidden]="!isAccountSelected"></account-info>
        
        <subscriptions [hidden]="isAccountSelected"></subscriptions>

    </div>

</ion-content>