page-account {

    .account-button {
        color: color($colors, text);
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid color($colors, menu-devider);
        box-shadow: 0 5px 15px 0 rgba(black, .6);

        &_active {
            background-color: color($colors, hover);
        }
    }
    .info-area{
        text-align: center;
    }
    account-info{
        color: #fff;
        padding: 15px 0;
        text-align: center;
        display: block;
    }
    account-info .logout-button{
        margin-top: 15px;
    }
}