<div class="player">
    <video [hidden]="isShowLoginError || isShowSubscribeError" [poster]="contentPoster" #video class="video"></video>
    
    <div class="error"
        [style.backgroundImage]="'url('+contentPoster+')'"
        *ngIf="isShowLoginError"
    >
        <span class="error__title">{{ errorMessage }}</span>
        <div class="error__button" (click)="redirectToAuthPage()">Авторизоваться</div> 
    </div>

    <div class="error"
        [style.backgroundImage]="'url('+contentPoster+')'"
        *ngIf="isShowSubscribeError"
    >
        <span class="error__title">{{ errorMessage }}</span>
        <div class="error__button" (click)="redirectToSubscribePage()">Приобрести подписку</div>
    </div>
</div>
