player {
    width: 100%;

    .player {
        width: 100%;
        height: 100%;
    }

    .video {
        width: 100%;
        height: 100%;
    }

    .error {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 200px;

        &__title {
            color: color($colors, text);
            text-align: center;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 15px;
            padding: 0 30px;
        }

        &__button {
            height: 3rem;
            background-color: color($colors, hover);
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
            color: #fff;
        }
    }
}