simple-header {
  .navbar-genre-name {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
    .toolbar-background {
        background: color($colors, toolbar-background);
    }

    .menu-button {
        background-color: transparent !important;
        z-index: 11;
        box-shadow: none !important;

        &_hamburger {
            display: block !important;
        }
    }

    .menu-icon {
        color: color($colors, text);
        font-size: 2.8rem;
    }

    .navbar-title {
        &__img {
            width: 11rem;
        }

        &__dropdown {
            width: 12rem;
        }
    }

    .hide {
        display: none;
    }

    .item-md.item-block .item-inner {
        border-bottom: none !important;
    }

    .header-icon{
        max-width: 14px;
    }

    .header-right-btn{
        padding: 0 12px;
        transition: .3s;
        background-color: transparent;
    }

    .active {
        color: color($colors, hover);

        svg{
            path{
                fill: color($colors, hover);
            }
        }
    }

    .toolbar-content-md {
        display: flex;
    }

    .filter-modal-btn{

        .label{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
        }

        .icon{
            position: relative;
            margin-left: 8px;
            top: 2px;
        }

    }

    .ion-md-arrow-down:before{
        content: "\f3d0";
        position: relative;
        top: -2px;
    }

}
