
    <ion-navbar class="navbar" hideBackButton>
        <button ion-button menuToggle left class="menu-button menu-button_hamburger" *ngIf="isShowButton('menu')">
            <img class="header-icon" src="../assets/navigation-icons/bars-solid.svg" alt="">
        </button>

        <button ion-button left class="menu-button menu-button_back" [class.hide]="!isShowButton('back')" (click)="goBack()">
            <ion-icon name="arrow-dropleft" class="menu-icon"></ion-icon>
        </button>

        <ion-title text-center item-center class="navbar-title">
            <img *ngIf="!isShowButton('filter')" class="navbar-title__img" src="../../assets/logo.svg" alt="">

            <ion-item *ngIf="isShowButton('filter')" (click)="showModal()" class="filter-modal-btn">
                <span class="navbar-genre-name">{{ selectedCategory.name | capitalize }}</span>
                <ion-icon name="arrow-down"></ion-icon>
            </ion-item>

        </ion-title>


        <ion-buttons right>
            <button ion-button class="header-right-btn" (click)="toggleFavorite()" [class.hide]="!isShowButton('favorite') || !isLogin" [class.active]="isFavoriteActive">
                <svg class="header-icon" aria-hidden="true" data-prefix="far" data-icon="bookmark" class="svg-inline--fa fa-bookmark fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="14px" height="14px"><path fill="#fff" d="M336 0H48C21.49 0 0 21.49 0 48v464l192-112 192 112V48c0-26.51-21.49-48-48-48zm0 428.43l-144-84-144 84V54a6 6 0 0 1 6-6h276c3.314 0 6 2.683 6 5.996V428.43z"></path></svg>
            </button>
            <button ion-button class="header-right-btn" (click)="toggleSearch()" [class.hide]="!isShowButton('search')" [class.active]="isSearchActive">
                <svg class="header-icon" aria-hidden="true" data-prefix="fas" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="14px" height="14px"><path fill="#fff" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
            </button>
        </ion-buttons>
    </ion-navbar>

    <modal-filter [categories]="categories" [selectedCategory]="selectedCategory" (selectCategory)="filterChange($event)" *ngIf="isShowModal"></modal-filter>
