<ion-header>
        <simple-header [headerButtons]="headerButtons" [categories]="genres" [activeGenreId]="selectedGenreId" (onFilterChange)="changeFilter($event)"></simple-header>
    </ion-header>

    <ion-content>

            <ion-title class="page-title"  text-center color="text-muted">ПЕРЕДАЧИ</ion-title>

            <ion-grid>
              <ion-row>

                <ion-col col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 *ngFor="let video of contentFeed">
                  <video-card [content]="video" [type]="'tv'"></video-card>
                </ion-col>

              </ion-row>
            </ion-grid>

            <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>

    </ion-content>
