<ion-content>

  <simple-header [hidden]="isLandscape" [headerButtons]="headerButtons"></simple-header>

  <div id="pladform" class="pladform" [class.pladform_landscape]="isLandscape"></div>

</ion-content>
